    /*Fontes*/

    @font-face {
      font-family: 'Lato', sans-serif;
      src: url(https://fonts.google.com/specimen/Lato);
  }

  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
  
  :root {
    --cor-destaque: #F2A03D;
    --cor-titulos: #F2811D;
    --cor-subtitulos: #F25430;
    --cor0: #F2F2F2;
    --cor1: #0D0D0D;

    --fonte-destque: 'Bebas Neue', cursive;
    --fonte-paragrafo: 'Oswald' sans-serif;

  }

  /*Corpo*/
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      border: none;
  }
  
  body {
      width: 100%;
      height: 100vh;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
  }
  
  
  /*Corpo*/
  
  
  /*Code*/
  
  a {
      text-decoration: none;
  }
  
  header .menu {
      position: relative;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: last baseline;
      padding: 20px;
      background-color: rgb(77, 77, 77);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
  }
  
  header .menu li {
      display: inline-block;
  }
  
  header .menu a {
      color: var(--cor0);
      padding: 8px 12px;
      border-radius: 3px;
      transition: 200ms;
  }
  
  .menu ativo,
  header .menu a:hover {
      color: #690e0d;
  }

  h1 {
    padding-top: 10px;
    padding-left: 20px;
    font-size: xx-large;
  }

  section > h1 {
    font-family: var(--fonte-destque);
    color: var(--cor-subtitulos);
  }

  section > h2 {
    color: var(--cor-destaque);
    font-family: var(--fonte-destque);
  }

  section > p {
    font-family: 'Oswald', sans-serif;
  }

  h2 {
    padding-top: 10px;
    padding-left: 20px;
  }

  p {
    text-indent: 30px;
    padding: 20px;
    text-align: justify;
  }
  
  footer {
    background-color: #d6ccc2;
    padding: 1rem;
  }

  #txte {
    border: 1px solid black;
  }

  #buttonnl {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 5px;
  }

  #buttonnl:hover {
    background-color: rgb(83, 83, 83);
  }
  
  
  /*Social Media*/
  
  .fa {
      padding: 20px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      justify-items: last;
      text-decoration: none;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
      background: #3B5998;
      color: white;
      /*Social Media*/
  }  
